<footer role="footer">

  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 mt-5">
        <ul class="list-inline d-flex justify-content-center">
          <li class="list-inline-item"><a class="text-dark mr-4" href="/blog"><i class="fas fa-pager fa-lg fa-fw mr-3"></i>Blog</a></li>
          <li class="list-inline-item"><a class="text-dark mr-4" href="https://www.dribbble.com/aftabkhalid"><i class="fab fa-dribbble fa-lg fa-fw mr-2"></i>Dribbble</a></li>
          <li class="list-inline-item"><a class="text-dark mr-4" href="https://www.behance.net/aftabkhalid"><i class="fab fa-behance fa-lg fa-fw mr-2"></i>Behance</a></li>
          <li class="list-inline-item"><a class="text-dark mr-4" href="https://www.linkedin.com/in/aftabkhalid"><i class="fab fa-linkedin fa-lg fa-fw mr-2"></i>Linkedin</a></li>
        </ul>
      </div>

    </div>
  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/js/easings.min.js"></script>
<script src="{{ site.baseurl }}/js/scrolloverflow.min.js"></script>
<script src="{{ site.baseurl }}/js/fullpage.min.js"></script>

<script type="text/javascript">
  var mySlides = new fullpage('#mySlides', {
    navigation: true,
    navigationPosition: 'right',
    licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
    scrollingSpeed: 700,
    keyboardScrolling: false,
    scrollOverflow: true,
    lockAnchors: true,
    // sectionsColor: ['', '#4BBFC3', '#7BAABE','#1bbc9b', '#4BBFC3', '#7BAABE','#7BAABE','#1bbc9b',]
  });
</script>

<script src="{{ site.baseurl }}/js/demo.js"></script>
<script src="{{ site.baseurl }}/js/easings-menu.js"></script>
<script src="{{ site.baseurl }}/js/demo2.js"></script>

<script src="https://kit.fontawesome.com/2d65b3e3b8.js" crossorigin="anonymous"></script>
