<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/theme.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/fullpage.css">

<!-- Favicons -->
<link rel="icon" href="{{ site.baseurl }}/images/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/site.webmanifest">
<link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<title>{{ page.title }}</title>

{% seo title=false %}

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/3d175a8e3a7aa4f3a7c04a400/667b07f357e6ec22b82f194da.js");</script>
